********** FOOTER -->
<div class="footer" id="footer">
    <div id="footer-social">
      <!-- Para ver en la we https://caballero73.github.io/animacion-w/ -->
      <a href="https://github.com/Caballero73/animacion-w" target="_blank"><div class="iconos">
        <i class="fa fa-github fa-lg"></i>
      </div></a>
      <a href="https://www.linkedin.com/in/enrique-valerio-6b347b126/" target="_blank"><div class="iconos">
        <i class="fa fa-linkedin fa-lg"></i>
      </div></a>
    </div>
    <p class="autor text-center"><span class="fa fa-cc"></span><span> &nbsp; Enrique J. Valerio G. 2018 </span><span> &nbsp; | &nbsp; </span>
    <span> Powered by  <span class="">Enrique Valerio</span> </span></p>
</div>
<!-- /. FOOTER