<!doctype html>
<html class="no-js" lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Animaciones para la Web</title>
  <meta name="description" content="Las animaciones CSS3 permiten dinamizar la transición entre un estilo CSS y otro. Las animaciones constan de dos componentes: un estilo que describe la animación CSS y un conjunto de fotogramas que indican su estado inicial y final, así como posibles puntos intermedios en la misma. Este ejercicio busca reforzar a través de la prática estos conocimientos fundamentales.">
  <link rel="shortcut icon" href="assets/img/favicon.ico">
  <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="assets/css/app.min.css">
</head>

<body>
	<!-- /////// Botón para ir al principio -->
	<a class="hide-for-small-only" href="#inicio">
	  <i class="fa fa-chevron-circle-up fa-2x ir-arriba"></i>
	</a>
	<!-- */Botón para ir al principio -->