  <!-- ********** CONTENIDO -->
  <div id="index_cont">
  	<div class="contenedor">

  		<div id="satelite">
  			<img src="assets/img/satelite.svg" alt="Satelite">
  		</div>
  		<img class="estrellas" src="assets/img/estrellas1.svg" alt="Estrellas">
  		<img class="estrellas b" src="assets/img/estrellas2.svg" alt="Estrellas">
  		<h1 class="superh1 text-center">Animaciones Web</h1>
  		<div id="cohete">
  			<div id="cohete-cont">
  				<img id="nave" src="assets/img/cohete.svg" alt="Cohete">  				
  				<img id="compuerta" src="assets/img/compuerta.svg" alt="Compuerta del Cohete">
  				<div id="astronauta"></div>				
  				<div id="escalera"></div>				
  				<img id="llama" src="assets/img/llama.svg" alt="Llama del Cohete">
  			</div>
  		</div>
  		<img id="asteroide" src="assets/img/asteroide.svg" alt="Asteroide">
  		<img id="cometa" src="assets/img/cometa.svg" alt="Cometa">
  		<img id="planeta" src="assets/img/planeta.svg" alt="Planeta">  		
  	</div>    
  </div><!-- /. CONTENIDO -->
  