/******************************
KEYFRAMES: keyframes.css;
*******************************/
@keyframes astronauta {
	0% {
		background-position: 0 0;
		opacity: 0;
	}
	5% {
		transform: translate(-50%,0);
		opacity: 1;
	}
	90% {
		transform: translate(-50%,9rem);
	}
	100% {
		background-position: -570px 0;
		transform: translate(-50%,9rem);
		opacity: 1;
	}
}
@keyframes balon {
	0% {
		left: 0;
	}
	100% {
		left: calc(100% - 12rem);
	}
}
@keyframes boya {
	0% {
		transform: translate(0rem, 0) rotate(-5deg);		
	}
	100% {
		transform: translate(2rem, -3rem) rotate(7deg);		
	}
}
@keyframes circulo {
	0% {
		left: 0;
	}
	100% {
		left: calc(100% - 24rem);
	}
}
@keyframes circulo2 {
	0% {
		left: 0;
	}
	100% {
		left: calc(100% - 12rem);
	}
}
@keyframes cohete {
	0% {
		bottom: 120vh;
	}
	100% {
		bottom: 10vh;
	}
}
@media (--mobile-s) {
  @keyframes cohete {
  	0% {
  		bottom: 120vh;
  	}
  	100% {
  		bottom: 25vh;
  	}
	}
}
@media (--tablet-h) {
  @keyframes cohete {
  	0% {
  		bottom: 120vh;
  	}
  	100% {
  		bottom: 25vh;
  	}
	}
}
@media (--laptop-s) {
  @keyframes cohete {
  	0% {
  		bottom: 120vh;
  	}
  	100% {
  		bottom: 15vh;
  	}
	}
}
@keyframes cometa {
	0% {
		top: -5rem;
		left: -5rem;
	}
	100% {
		top: 100rem;
		left: 50%;
	}
}
@keyframes compuerta {
	0% {
		width: 0;
	}
	100% {
		width: 4rem;
	}
}
@keyframes disminuir {
	0% {
		transform: translateY(0) scale(1,.9);
	}
	100% {
		transform: translateY(-2rem);
	}
}
@keyframes escalera {
	0% {
		height: 0;
	}
	100% {
		height: 6rem;
	}
}
@keyframes estrellas {
	0% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}
@keyframes giro {
	0% {
		transform: rotate(0deg);		
	}
	100% {
		transform: rotate(360deg);		
	}
}
@keyframes isologo {
	0% {
		opacity: 0;
		transform: scale(0.3) rotate(0deg);	
	}
	30% {
		opacity: 1;
		transform: scale(1.3) rotate(360deg);
	}
	80% {
		opacity: 1;
		transform: scale(1) rotate(360deg);
	}
	100% {
		opacity: 0;
		transform: scale(0.3) rotate(0deg);		
	}
}
@keyframes llama {
	0% {
		opacity: .8;
	}
	12.5% {
		opacity: 1;	
	}
	25% {
		opacity: .5;
	}
	37.5% {
		opacity: 1;	
	}
	50% {
		opacity: .6;
	}
	62.5% {
		opacity: 1;	
	}
	75% {
		opacity: .8;
	}
	87.5% {
		opacity: .5;	
	}
	100% {
		opacity: 0;
	}
}
@keyframes movimiento1 {
	0% {
		left: calc(100% + 20rem);
		top: 5%;
	}
	100% {
		left: calc(0 - 20rem);
		top: 30%;
	}
}
@keyframes movimiento2 {
	0% {
		left: -30%;
		bottom: -75%;
	}
	100% {
		left: calc(100% + 60rem);
		bottom: 180%;
	}
}
@keyframes ninja1 {
	0% {
		background-position: 0 0;		
	}
	100% {
		background-position: -900px 0;		
	}
}
@keyframes ninja2 {
	0% {
		background-position: 0 0;		
	}
	100% {
		background-position: -1080px 0;		
	}
}
@keyframes redoble {
	0% {
		transform: rotate(35deg);
	}
	12.5% {
		transform: rotate(-30deg);
	}
	25% {
		transform: rotate(25deg);
	}
	37.5% {
		transform: rotate(-20deg);
	}
	50% {
		transform: rotate(15deg);
	}
	62.5% {
		transform: rotate(-10deg);
	}
	75% {
		transform: rotate(5deg);
	}
	87.5% {
		transform: rotate(-2deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
@keyframes ola {
	0% {
		transform: translate(0 , 0);		
	}
	50% {
		transform: translate(-12rem , -1.5rem);		
	}
	100% {
		transform: translate(12rem , -2.5rem);		
	}
}
@keyframes separador {
	0% {
		opacity: 1;		
	}
	100% {
		opacity: 0;		
	}
}
@keyframes superh1 {
	0% {
		opacity: 0;		
	}
	100% {
		opacity: 0.3;		
	}
}
@keyframes texto {
	0% {
		opacity: 0;		
	}
	45% {
		opacity: 0;		
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 1;		
	}
}
@keyframes rebote {
	0% {
		transform: translateY(0) scale(1,.9);
	}
	100% {
		transform: translateY(-5rem);
	}
}
/* /.KEYFRAMES */